<h1>My Tasks</h1>
<% @tasks.each do |task| %>
<li>
<%= link_to task.title, task_path(task) %>
<%= link_to "ðŸ—‘ï¸", task_path(task), method: :delete, data: { confirm: "Tem certeza champs?" } %>
</li>
<% end %>

<%= link_to '+ Add a new task', tasks_new_path%>
